root:
  host: mysql_aws
  username: root
  password:
  database: test

user:
  host: mysql_aws
  username: mysql2
  password:
  database: mysql2_test

numericuser:
  host: mysql_aws
  username: mysql2
  password:
  database: 12345
